/* Home.css */
@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes glitchText {
  0% {
    text-shadow:
      1px 1px #ff00ff,
      -1px -1px #ffff00;
  }
  10% {
    text-shadow:
      -1px -2px #ff00ff,
      1px 2px #ffff00;
  }
  20% {
    text-shadow:
      -2px 1px #ff00ff,
      2px -1px #ffff00;
  }
  30% {
    text-shadow:
      2px 1px #ff00ff,
      -2px -1px #ffff00;
  }
  40% {
    text-shadow:
      1px -1px #ff00ff,
      -1px 1px #ffff00;
  }
  50% {
    text-shadow:
      -1px 2px #ff00ff,
      1px -2px #ffff00;
  }
  60% {
    text-shadow:
      2px -2px #ff00ff,
      -2px 2px #ffff00;
  }
  70% {
    text-shadow:
      -2px -2px #ff00ff,
      2px 2px #ffff00;
  }
  80% {
    text-shadow:
      2px 2px #ff00ff,
      -2px -2px #ffff00;
  }
  90% {
    text-shadow:
      1px 2px #ff00ff,
      -1px -2px #ffff00;
  }
  100% {
    text-shadow:
      -2px -1px #ff00ff,
      2px 1px #ffff00;
  }
}

.flicker {
  animation: flickerAnimation 1s infinite;
}

.glitch {
  font-family: "Courier New", Courier, monospace; /* Changing font for a more "hacky" look */
  animation: glitchText 500ms infinite;
}

/* Home.css */
.container {
  position: relative;
  font-family: "Comic Sans MS", cursive, sans-serif; /* Generally considered a 'bad' font */
}

.overlayText {
  position: absolute;
  top: 50%; /* Position the text in the middle of the image vertically */
  left: 50%; /* Position the text in the middle of the image horizontally */
  transform: translate(-50%, -50%);
  font-size: 5rem; /* Really big text */
  color: #ff00ff; /* Some color that stands out */
  text-align: center;
  z-index: 10; /* Ensure it's above the image */
  width: 100%; /* Ensure it spans the width of the container */
}

.bannerImage {
  width: 100%;
  height: auto;
  position: relative; /* This will be the positioning context for the absolute elements */
}
