/* Home.css */
@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes glitchText {
  0% {
    text-shadow:
      1px 1px #ff00ff,
      -1px -1px #ffff00;
  }
  10% {
    text-shadow:
      -1px -2px #ff00ff,
      1px 2px #ffff00;
  }
  20% {
    text-shadow:
      -2px 1px #ff00ff,
      2px -1px #ffff00;
  }
  30% {
    text-shadow:
      2px 1px #ff00ff,
      -2px -1px #ffff00;
  }
  40% {
    text-shadow:
      1px -1px #ff00ff,
      -1px 1px #ffff00;
  }
  50% {
    text-shadow:
      -1px 2px #ff00ff,
      1px -2px #ffff00;
  }
  60% {
    text-shadow:
      2px -2px #ff00ff,
      -2px 2px #ffff00;
  }
  70% {
    text-shadow:
      -2px -2px #ff00ff,
      2px 2px #ffff00;
  }
  80% {
    text-shadow:
      2px 2px #ff00ff,
      -2px -2px #ffff00;
  }
  90% {
    text-shadow:
      1px 2px #ff00ff,
      -1px -2px #ffff00;
  }
  100% {
    text-shadow:
      -2px -1px #ff00ff,
      2px 1px #ffff00;
  }
}

.flicker {
  animation: flickerAnimation 1s infinite;
}

.glitch {
  font-family: "Courier New", Courier, monospace; /* Changing font for a more "hacky" look */
  animation: glitchText 500ms infinite;
}
